* {
    margin: 0;
    padding: 0;
  }
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    user-select: none;
    /* background: #ecf0f3; */
  }
  
  .container {
    /* background: #d8ba35; */
    /* background: #ecf0f3; */
    background: transparent;
    background: rgba(255, 255, 255, 0.05);
    margin-left: 0em;
    padding: 20px;
    color: #fff;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    background-color: rgba(78, 73, 73, 0.568);
    z-index: 10;
    /* box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff; */
    box-shadow: 13px 13px 20px #a5bd3c, -13px -13px 20px #e0713e;
    /* z-index: 2; */
  }
  
  .content {
    width: 102%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .row button {
    width: 65px;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    color: #fff;
    background-color: black;
    transition: 0.1s;
    box-shadow: 5px 5px 8px #00000020, -5px -5px 8px rgb(158, 101, 101);
    /* box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffff; */
    font-weight: bold;
  }
  
  .row button:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
    background: #fff;
    color: black;
  }
  
  .display #screen {
    margin-bottom: 0.5em;
    width: 100%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 0.5em;
    /* background: #ecf0f3; */
    background: #000000;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #e0713e, inset -8px -8px 8px #5db13c;
    /* box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff; */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    color: #fff;
  }
  
  #eval {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
  }
  
  #eval:hover {
    box-shadow: inset 5px 5px 8px #00ace6, inset -5px -5px 8px #00ace6;
  }
  
  #ac {
    background: #33cc33;
    color: #fff;
  }
  
  #ac:hover {
    box-shadow: inset 5px 5px 8px #2eb82e, inset -5px -5px 8px #33cc33;
  }
  
  #ce {
    background: #da5c14;
    color: #fff;
  }
  
  #ce:hover {
    box-shadow: inset 5px 5px 8px #c95512, inset -5px -5px 8px #c9530f;
  }
  
  .main_h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 0 0 3px #a12424, 0 0 5px #8f1919;
  }
  